allin1
antlr4-python3-runtime
audioread
certifi
cffi
charset-normalizer
cloudpickle
cmake
contourpy
cycler
cython
decorator
demucs
dora_search
einops
filelock
fonttools
fsspec
hf-xet
huggingface-hub
hydra-core
idna
importlib_metadata
importlib_resources
Jinja2
joblib
julius
kiwisolver
lameenc
lazy_loader
librosa
llvmlite
MarkupSafe
matplotlib
mido
mpmath
msgpack
networkx
numba
omegaconf
openunmix
packaging
pillow
platformdirs
pooch
pycparser
pyparsing
python-dateutil
PyYAML
requests
retrying
scikit-learn
scipy
six
soundfile
soxr
submitit
sympy
threadpoolctl
tqdm
treetable
typing_extensions
urllib3
uv
wheel
zipp
